.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (width >= 600px) {
  .cards > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 900px) {
  .cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

.cards > ul > li {
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
}

.cards .cards-card-image {
  line-height: 0;
  overflow: hidden;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.cards .cards-card-body {
  padding: 24px;
  text-align: center;
}

.cards .cards-card-body p {
  margin: 0 0 8px;
  font-size: var(--body-font-size-xs);
  line-height: 1.4;
  color: var(--gray-color);
}

.cards .cards-card-body p strong {
  display: block;
  font-size: var(--body-font-size-s);
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 4px;
}

.cards .cards-card-body a {
  color: var(--accent-color);
  font-weight: 600;
  text-decoration: none;
  font-size: var(--body-font-size-xs);
}

.cards .cards-card-body a:hover {
  text-decoration: underline;
}

@media (width >= 900px) {
  .cards .cards-card-body {
    padding: 35px;
  }
}
